<html>
    <head>
        <title>Messages</title>
    </head>
    <body>
            <% for(let message of messages) { %>
                <h2>MESSAGE: <%=message%></h2>
            <%}%>
    </body>
</html>